<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <meta charset="utf-8">
        <title>Ask question</title>
    </head>
    <body>
        {% load template_extends %}
        <h3>Ask your question:</h3>
        {% for e in form.non_field_errors %}
            <div class="alert alert-danger">
                {{e}}
            </div>
        {% endfor %}

        <form method="post">
            {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        <label class="control-label">{{field.label}}</label>
                        {{ field|addcss:"form-control" }}
                        {% for e in field.errors %}
                            <span class="help-block">{{e}}</span>
                        {% endfor %}
                    </div>
                {% endfor %}
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Ask question</button>
            </div>
        </form>
    </body>
</html>
