<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <meta charset="utf-8">
        <title>Qa index page</title>
    </head>
    <body>
        {% for question in questions %}
            <div class="question">
                <a href='/question/{{question.id}}'>{{question.title}}</a>
            </div>
        {% endfor %}
        <nav>
            <ul class="pagination">
                {% for p in paginator.page_range %}
                    {% if page.number == p %}
                        <li class='active'>
                    {% else %}
                        <li>
                    {% endif %}
                            <a href='{{paginator.baseurl}}{{p}}'>
                                {{p}}
                            </a>
                        </li>
                {% endfor %}
            </ul>
        </nav>
    </body>
</html>
