<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
        <meta charset="utf-8">
        <title>{{question.title}}</title>
    </head>
    <body>
        <h3>{{question.title}}</h3>
        <div class="question">
            <b>Question:</b> {{question.text}}
        </div>
        <div class="info">
            <p>Posted at {{question.added_at}} by {{question.author}}</p>
            <p>Question rating is {{question.rating}}</p>
        </div>
        <h4>Answers:</h4>
        {% for answer in answers %}
            <div class="answer">
                <b>{{answer.text}}.</b> Posted by {{answer.author}}
                at {{answer.added_at}}
            </div>
        {% endfor %}
    </body>
</html>
